@model SEP.Models.ViewModels.FileVM
<h3>Upload all needed documents</h3>
<form method="post" asp-action="File" enctype="multipart/form-data">
    <input asp-for="ApplicationDocument.Id" hidden />
    <input asp-for="ApplicationDocument.ApplicationId" hidden/>
    <input asp-for="ApplicationDocument.FilePath" hidden />
    <input asp-for="Application.Id" hidden />
    <div class="p-3 mt-2">

        <div class="mb-3 form-group row">
            <label asp-for="ApplicationDocument.Description" class="col-2"></label>
            <div class="col-5">
                <input asp-for="ApplicationDocument.Description" class="form-control">
                <span asp-validation-for="ApplicationDocument.Description" class="text-danger"></span>
            </div>
        </div>

        <div class="mb-3 form-group row">
            <div class="col-5">
                <input type="file" id="uploadBox" name="file" class="form-control">
            </div>
        </div>

    </div>

    <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Upload</button>
    <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">Done</a>
</form>




@section Scripts
    {
    <script>
        function ValidateInput(){
            if (document.getElementById("uploadBox").value==""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please upload a document!'
                });
                return false;
            }
            return true;
        }
    </script>

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}