@page
@model RegisterModel


<div class="row pt-1 center-container ">
    <div class="col-md-7">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Title" class="form-control" aria-required="true" />
                <label class="fw-bold" asp-for="Input.Title"></label>
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label class="fw-bold" asp-for="Input.FirstName">First Name</label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label class="fw-bold" asp-for="Input.LastName">Last Name</label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Telephone" class="form-control" aria-required="true" />
                <label class="fw-bold" asp-for="Input.Telephone">Telephone</label>
                <span asp-validation-for="Input.Telephone" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Cellphone" class="form-control" aria-required="true"  />
                <label class="fw-bold" asp-for="Input.Cellphone">Cellphone</label>
                <span asp-validation-for="Input.Cellphone" class="text-danger"></span>
            </div>


            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"  />
                <label class="fw-bold" asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"  />
                <label class="fw-bold" asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"  />
                <label class="fw-bold" asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class=form-select>
                    <option disabled selected>-Select Role-</option>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>
            <hr />
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <style>
        .center-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 70vh; /* Optional, set a height to center vertically */
        }
    </style>
@*     <script>
        $(document).ready(function(){
            $('#Input_Role').change(function(){
                var selection = $('#Input_Role Option:Selected').text();
                //('#Input_Role Option:Selected').text();
                if(selection!='Employer'){
                    $('#Input_Employer_Employer_JobTitle').hide();
                    $('#Input_Employer_Employer_CompanyRegNo').hide();
                    $('#Input_Employer_Employer_BusinessName').hide();
                    $('#Input_Employer_Employer_TradingName').hide();
                    $('#Input_Employer_Employer_BusinessType').hide();
                    $('#Input_Employer_Employer_RegisteredAddress').hide();
                }
                else{
                    $('#Input_Employer_Employer_JobTitle').show();
                    $('#Input_Employer_Employer_CompanyRegNo').show();
                    $('#Input_Employer_Employer_BusinessName').show();
                    $('#Input_Employer_Employer_TradingName').show();
                    $('#Input_Employer_Employer_BusinessType').show();
                    $('#Input_Employer_Employer_RegisteredAddress').show();
                }
            })
        })
    </script>*@
}
