
@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center">
    <h3>Welcome Approver</h3>
    <br />
    
    <a asp-controller="Employer" asp-action="Index" class="btn btn-primary form-floating mb-3" style="width:150px">Review External Employers</a><br />
    <a asp-controller="JobPost" asp-action="Index" class="btn btn-primary form-floating mb-3" style="width:150px">Review Posts</a><br />
    <a asp-controller="Approver" asp-action="Stats" class="btn btn-primary form-floating mb-3" style="width:150px">View stats</a>

</div>

