
@{
    ViewData["Title"] = "Index";
}

<h2>Approver</h2>
<div style="text-align: center; border: 1px solid">
    <h3>Welcome Recruiter</h3>
    <br />
    
    <a asp-controller="Approver" asp-action="ReviewExternalEmployers" class="btn btn-primary form-floating mb-3" style="width:150px">Review External Employers</a><br />
    <a asp-controller="Approver" asp-action="ReviewPosts" class="btn btn-primary form-floating mb-3" style="width:150px">Review Posts</a><br />
    <a asp-controller="Approver" asp-action="Stats" class="btn btn-primary form-floating mb-3" style="width:150px">View stats</a>

</div>

