@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Student Employment Portal</h1>
    <br />
    <img src="~/images/wits-logo.png" alt="Wits Logo" height="100vh">
</div>
