@model Employer

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Employer -> Register</h2>
            <br />
        </div>

        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title"/>
        </div>
        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName"/>
        </div>
        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
        </div>
        <div class="mb-3">
            <label asp-for="EmailAndUsername"></label>
            <input asp-for="EmailAndUsername" />
        </div>
        <div class="mb-3">
            <label asp-for="Telephone"></label>
            <input asp-for="Telephone" />
        </div>
        <div class="mb-3">
            <label asp-for="Cellphone"></label>
            <input asp-for="Cellphone" />
        </div>
        <div class="mb-3">
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" />
        </div>
        <div class="mb-3">
            <label asp-for="CompanyRegNo"></label>
            <input asp-for="CompanyRegNo" />
        </div>
        <div class="mb-3">
            <label asp-for="BusinessName"></label>
            <input asp-for="BusinessName" />
        </div>
        <div class="mb-3">
            <label asp-for="TradingName"></label>
            <input asp-for="TradingName" />
        </div>
        <div class="mb-3">
            <label asp-for="BusinessType"></label>
            <input asp-for="BusinessType" />
        </div>
        <div class="mb-3">
            <label asp-for="RegisteredAddress"></label>
            <input asp-for="RegisteredAddress" />
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
        </div>

        <button type="submit" class="btn btn-secondary" style="width:150px">Create</button>
        <a asp-controller="Employer" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>


</form>
