
@{
    ViewData["Title"] = "Index";
}

<h2>Employer -> Home</h2>
<div style="text-align: center; border: 1px solid">
    <h3>Welcome Recruiter</h3>
    <br />
    
    <button class="btn btn-primary" style="width:150px;margin-right: 25px">Manage Posts</button>
    <button class="btn btn-primary" style="width:150px;margin-left: 25px">Edit Profile</button>

</div>

