@model Employer

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Employer -> Register</h2>
            <br />
        </div>

        <div class="mb-3">
            <label asp-for="User.Title"></label>
            <input asp-for="User.Title"/>
        </div>
        <div class="mb-3">
            <label asp-for="User.FirstName"></label>
            <input asp-for="User.FirstName"/>
        </div>
        <div class="mb-3">
            <label asp-for="User.LastName"></label>
            <input asp-for="User.LastName" />
        </div>
        <div class="mb-3">
            <label asp-for="User.Telephone"></label>
            <input asp-for="User.Telephone" />
        </div>
        <div class="mb-3">
            <label asp-for="User.PhoneNumber"></label>
            <input asp-for="User.PhoneNumber" />
        </div>
        <div class="mb-3">
            <label asp-for="JobTitle"></label>
            <input asp-for="JobTitle" />
        </div>
        <div class="mb-3">
            <label asp-for="CompanyRegNo"></label>
            <input asp-for="CompanyRegNo" />
        </div>
        <div class="mb-3">
            <label asp-for="BusinessName"></label>
            <input asp-for="BusinessName" />
        </div>
        <div class="mb-3">
            <label asp-for="TradingName"></label>
            <input asp-for="TradingName" />
        </div>
        <div class="mb-3">
            <label asp-for="BusinessType"></label>
            <input asp-for="BusinessType" />
        </div>
        <div class="mb-3">
            <label asp-for="RegisteredAddress"></label>
            <input asp-for="RegisteredAddress" />

        <button type="submit" class="btn btn-secondary" style="width:150px">Create</button>
        <a asp-controller="Employer" asp-action="Index" class="btn btn-secondary" style="width:150px">Back</a>
    </div>


</form>
