@model SEP.Models.ViewModels.EmployerVM
@{
    ViewData["Title"] = "Index";
}

<div style="text-align: center">
    <h3>Welcome Recruiter</h3>
    <br />
    
@*    @if (Model.Employer.StatusId != 1)
    {
        <a asp-controller="JobPost" asp-action="Index" class="btn btn-secondary" style="width:150px">Manage Posts</a>
    }
    else
    {
            <h3>Wait for approval</h3>
            <br />
    }*@
    <a asp-controller="JobPost" asp-action="Index" class="btn btn-secondary" style="width:150px">Manage Posts</a>
    <a asp-controller="Employer" asp-action="Upsert" class="btn btn-secondary" style="width:150px">Edit Profile</a>

</div>

